name: Build

on:
  workflow_call

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v6
    - name: Set Node.js 20.x
      uses: actions/setup-node@v6
      with:
        node-version: 24.x
    - name: "Install"
      run: |
        npm install
    - name: "Prettier"
      run: |
        npm run format-check
    - name: "Lint"
      run: |
        npm run lint
    - name: "build"
      run: |
        npm run build
        npm run package

  release:
    runs-on: ubuntu-24.04
    name: "Build and release action"
    needs: [build]
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          persist-credentials: true
      - name: Configure git
        uses: smartlyio/github-actions@git-init-userinfo-v1
      - name: Release flow
        uses: smartlyio/github-actions@release-action-node-v1
        with:
          dry_run: ${{ github.event_name == 'pull_request' }}
          token: "${{ secrets.GITHUB_TOKEN }}"

